# env
.env
__pycache__/
*.pyc

# credentials
venv/
.venv/
env/

# exec logs and temp files
*.log
tmp/
.DS_Store

# credentials linkedin and cookies
sessions/
cookies/
*.json #

# data (obsidian vault)
obsidian_vault/
linkedin_session/
data/
code-references/

# architecture
arch/
ADR.md
ARCHITECTURE.md
FUNCTIONAL_REQUIREMENTS.md
history.md
